server:
  port: ${TEST_INTER_PORT:8181}
spring:
  datasource:
    url: jdbc:h2:mem:testdb;
    username: spring
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate.show_sql: true
      hibernate.format_sql: true
    open-in-view: false
logging:
  level:
    root: ERROR